# {% if schema.title %}{{ schema.title }}{% else %}{{ schema.name }}{% endif %}

## Metadata

| Felt | Verdi |
| --- | --- |
| Name | `{{ schema.name }}` |
{% if schema.title -%}
| Title | {{ schema.title }} |
{% endif -%}
{% if schema.description -%}
| Description | {{ schema.description }} |
{% endif -%}
{% if schema.id -%}
| Schema URI | [{{ schema.id }}]({{ schema.id }}) |
{% endif -%}
{% if schema.version -%}
| Versjon | {{ schema.version }} |
{% endif -%}
{% if schema.license -%}
| Lisens | [{{ schema.license }}]({{ schema.license }}) |
{% endif -%}
{% if schema.annotations and schema.annotations.utgiver -%}
| Utgjevar | [{{ schema.annotations.utgiver.value }}]({{ schema.annotations.utgiver.value }}) |
{% endif -%}
{% if schema.annotations and schema.annotations.status -%}
| Status | [{{ schema.annotations.status.value }}]({{ schema.annotations.status.value }}) |
{% endif -%}
{% if schema.annotations and schema.annotations.endringsdato -%}
| Endringsdato | {{ schema.annotations.endringsdato.value }} |
{% endif -%}
{% if schema.annotations and schema.annotations.utgivelsesdato -%}
| Utgivelsesdato | {{ schema.annotations.utgivelsesdato.value }} |
{% endif -%}
{% if schema.imports -%}
| Imports | {% for imp in schema.imports %}{{ imp }}{% if not loop.last %}<br>{% endif %}{% endfor %} |
{% endif -%}

{% if include_top_level_diagram %}

## Schema Diagram

```{{ gen.mermaid_directive() }}
{{ gen.mermaid_diagram() }}
```
{% endif %}

## Classes

{% set subsets_ordered = ['Obligatorisk', 'Anbefalt', 'Valgfri'] %}

{# Samle attributtnamn frå containerklassen (tree_root) for å ekskludera dei frå slot-tabellen #}
{%- set ns_root = namespace(attr_names=[]) %}
{%- for c in gen.all_class_objects() %}
  {%- if c.tree_root %}
    {%- for attr_name in c.attributes %}
      {%- set ns_root.attr_names = ns_root.attr_names + [attr_name] %}
    {%- endfor %}
  {%- endif %}
{%- endfor %}

{% if gen.hierarchical_class_view -%}
| Class | Description |
| --- | --- |
{% for u, v in gen.class_hierarchy_as_tuples() -%}
| {{ "&nbsp;"|safe*u*8 }}{{ gen.link(schemaview.get_class(v), True) }} | {{ schemaview.get_class(v).description|enshorten }} |
{% endfor %}
{% else -%}
{% for subset_name in subsets_ordered + ['Andre'] %}
{%- set ns = namespace(classes=[]) %}
{%- for c in gen.all_class_objects()|sort(attribute=sort_by) %}
  {%- if not c.tree_root %}
  {%- set ns2 = namespace(dominant='Andre') %}
  {%- for sn in subsets_ordered %}
    {%- if ns2.dominant == 'Andre' %}
      {%- for su in (c.slot_usage or {}).values() %}
        {%- if sn in (su.in_subset or []) %}
          {%- set ns2.dominant = sn %}
        {%- endif %}
      {%- endfor %}
    {%- endif %}
  {%- endfor %}
  {%- if ns2.dominant == subset_name %}
    {%- set ns.classes = ns.classes + [c] %}
  {%- endif %}
  {%- endif %}
{%- endfor %}
{% if ns.classes %}
### {{ subset_name }}

| Class | Description |
| --- | --- |
{% for c in ns.classes -%}
| {{ gen.link(c, True) }} | {{ c.description|enshorten }} |
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

## Slots

| Slot | Description |
| --- | --- |
{% for s in gen.all_slot_objects()|sort(attribute=sort_by) if s.name not in ns_root.attr_names -%}
| {{ gen.link(s, True) }} | {{ s.description|enshorten }} |
{% endfor %}

## Enumerations

{%- set ns_used_enums = namespace(names=[]) %}
{%- for s in gen.all_slot_objects() %}
  {%- if s.range and schemaview.get_enum(s.range) %}
    {%- if s.range not in ns_used_enums.names %}
      {%- set ns_used_enums.names = ns_used_enums.names + [s.range] %}
    {%- endif %}
  {%- endif %}
{%- endfor %}

{% if ns_used_enums.names %}
| Enumeration | Description | Defined in |
| --- | --- | --- |
{% for enum_name in ns_used_enums.names|sort -%}
  {%- set e = schemaview.get_enum(enum_name) %}
  {%- if e %}
    {%- set from_schema = schemaview.in_schema(enum_name) %}
    {%- set is_local = (from_schema == schema.name or from_schema == schema.id) %}
    {%- set origin = "Local" if is_local else "Imported" %}
| {{ gen.link(e, True) }} | {{ e.description|enshorten }} | {{ origin }} |
  {%- endif %}
{%- endfor %}
{% else %}
*Ingen enumerations brukt i denne modellen.*
{% endif %}

## Types

{%- set ns_used_types = namespace(names=[]) %}
{%- for s in gen.all_slot_objects() %}
  {%- if s.range and schemaview.get_type(s.range) %}
    {%- if s.range not in ns_used_types.names %}
      {%- set ns_used_types.names = ns_used_types.names + [s.range] %}
    {%- endif %}
  {%- endif %}
{%- endfor %}

{% if ns_used_types.names %}
| Type | Description | Defined in |
| --- | --- | --- |
{% for type_name in ns_used_types.names|sort -%}
  {%- set t = schemaview.get_type(type_name) %}
  {%- if t %}
    {%- set from_schema = schemaview.in_schema(type_name) %}
    {%- set is_local = (from_schema == schema.name or from_schema == schema.id) %}
    {%- set origin = "Local" if is_local else "Imported" %}
| {{ gen.link(t, True) }} | {{ t.description|enshorten }} | {{ origin }} |
  {%- endif %}
{%- endfor %}
{% else %}
*Ingen typar brukt i denne modellen.*
{% endif %}

## Subsets

| Subset | Description |
| --- | --- |
{% for ss in schemaview.all_subsets().values()|sort(attribute='name') -%}
| {{ gen.link(ss, True) }} | {{ ss.description|enshorten }} |
{% endfor %}
